[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}

[Colors:Selection]
BackgroundAlternate={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
BackgroundNormal={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}

[Colors:Tooltip]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}

[Colors:View]
BackgroundAlternate={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}

[Colors:Window]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundInactive={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
ForegroundLink={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}

[Colors:Complementary]
BackgroundAlternate={{base03-rgb-r}},{{base03-rgb-g}},{{base03-rgb-b}}
BackgroundNormal={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
DecorationFocus={{base02-rgb-r}},{{base02-rgb-g}},{{base02-rgb-b}}
DecorationHover={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundActive={{base0E-rgb-r}},{{base0E-rgb-g}},{{base0E-rgb-b}}
ForegroundInactive={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}
ForegroundLink={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}}
ForegroundNormal={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundPositive={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundVisited={{base0F-rgb-r}},{{base0F-rgb-g}},{{base0F-rgb-b}}

[General]
ColorScheme=Base16 {{scheme-name}}
Name=Base16 {{scheme-name}}
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
activeBlend=255,255,255
activeForeground={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
inactiveBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
inactiveBlend=93,93,91
inactiveForeground={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
